
// @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap');


$primary-color: #aed9e0;
$background-color: #faf3dd;
$dark-color: #5e6472;
$light-color: #fff;

.container {
  max-width: 100% !important;
}
* {
 box-sizing: border-box;
}

body {
  background-color: $primary-color !important;
  font-family: 'Kanit', sans-serif !important;
  
}

